@font-face {
    font-family: "yekan-Regular";
    src: url('../fonts/iranyekan/iranyekanwebregular.ttf') format("TrueType");
}

@font-face {
    font-family: "yekan-Bold";
    src: url('../fonts/iranyekan/iranyekanwebbold.ttf') format("TrueType");
}
@font-face {
    font-family: "amis-Bold";
    src: url('../fonts/Amis@DiakoGraphic.ttf') format("TrueType");
}
@font-face {
    font-family: "Arena-Bold";
    src: url('../fonts/Arena\ @DiakoGraphic.ttf') format("TrueType");
}
/* navigation */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


.navigation {
    position: sticky;
    bottom: 13px;
    width: 338px;
    height: 82px;
    background: #414c5a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    z-index: 10;
    backdrop-filter: blur(4px);
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navigation ul li p {
    opacity: 0;
    transition: all .4s;
}

.navigation ul li.active p {
    opacity: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    transition: .5s;
}

.navigation ul li.active a .icon svg circle,
.navigation ul li.active a .icon svg path {
    stroke: #1BABC3;
}

.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateY(20px);
    transition: .5s;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(16px);
}

.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-37px) scale(1);
}

.indicator {
    position: absolute;
    top: -66%;
    width: 70px;
    height: 70px;
    background-image: url('../img/Rectangle\ 4595.png');
    background-repeat: no-repeat;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 13%;
    left: 0;
    right: 0;
    background-color: #1BABC3;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    margin: auto;
}

.indicator::after {
    content: '';
    position: absolute;
    top: -79%;
    left: 0;
    right: 0;
    background-color: #1baac338;
    width: 45px;
    height: 45px;
    border-radius: 44%;
    margin: auto;
    box-shadow: 0 0 35px -5px #1BABC3;
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(0px * 3)) rotate(-180deg);
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(-67px * 1)) rotate(-180deg);
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(-69px * 2)) rotate(-180deg);
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(-69.099px * 3)) rotate(-180deg);
}

/*  */
html {
    scroll-behavior: smooth;
    direction: rtl;
}

.offcanvas-end {
    background: url('../img/Capture.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    font-family: "yekan-Regular";
    user-select: none;
    background-color: #1f2731;
    overflow-x: hidden;
}
.font-amis{
    font-family: "amis-Bold";
}
.font-Arena{
    font-family: "Arena-Bold";
}
#mobileNav li a,
#mobileNav li a>svg path {
    transition: all .4s;
}

#mobileNav>li:hover>a,#mobileNav>li.active>a {
    background: linear-gradient(-90.166deg, rgba(255, 255, 255, 3%) 0%, rgba(44, 33, 56, 10%) 100%);
}

#mobileNav>li:hover>a,#mobileNav>li.active>a {
    color: #1BABC3 !important;
}

#mobileNav>li:hover a>svg path,#mobileNav>li.active a>svg path {
    stroke: #1BABC3;
}

.accordionContent ul>li:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background: rgb(27, 171, 195);
    transition: all .4s;
    border-radius: 50%;
    right: -4.3px;
}
.lists .accordionContent ul>li:before {
    content: none;
}

header ul{
    font-size: 16px !important;
}
header ul li {
    position: relative;
    text-align: center;
    z-index: 9;
    transition: all .4s;
}

header ul li:hover a,
header ul li.active a,
header ul li:hover>div,
header ul li.active>div {
    color: #1BABC3 !important;
}

header ul li svg path,
header ul li>div {
    transition: all .4s;
}

header ul li:hover div svg path,
header ul li.active div svg path {
    stroke: #1BABC3;
}

header ul li::after {
    content: url('../img/Rectangle\ 4595.png');
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    opacity: 0;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    transition: all .4s;
}
header > div > div:first-child{
    -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
#header2 ul li:nth-child(3):before,#header2 ul li:last-child:before {
    right: 13px;
}
#header2 ul li > svg,#header2 #openDropdown > div > svg {
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
    bottom: -28px;
}

#header2 ul li:hover > svg,
#header2 ul li.active > svg,
#header2 #openDropdown:hover > div > svg {
    bottom: -1px;
    opacity: 100%;
    visibility: visible;
}
#header2 ul li#openDropdown > div div:last-child{
  transition: all .4s;
}
#header2 ul li#openDropdown.active > div div:last-child {
    top: 74px;
}

#header2 ul li::after {
    content: url('../img/Rectangle\ 4595.png');
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    opacity: 0;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    transition: all .4s;
}
header ul li:first-child::after {
    right: -11px;
}

header ul li:hover::after,
header ul li.active::after {
    bottom: -11px;
    opacity: 100%;
    visibility: visible;
}
header ul li:last-child:before {
   right: -1px;
}
header ul li::before {
    content: '';
    position: absolute;
    left: 0;
    right: 6px;
    bottom: -46px;
    opacity: 0;
    visibility: hidden !important;
    margin-left: auto;
    margin-right: auto;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #1BABC3;
    z-index: 10;
    transition: all .95s;
}

header ul li:hover::before,
header ul li.active::before {
    bottom: 0px;
    opacity: 100%;
    visibility: visible !important;
}

header ul li:nth-child(2)::before {
    display: none;
}

header ul li:nth-child(2)>svg {
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

header ul li:nth-child(2):hover>svg {
    opacity: 100%;
    visibility: visible;
}

header ul li a,
header ul li>div,
#mobileNav li a {
    position: relative;
    text-align: center;
}
#mobileNav li a {
  font-size: 16px;
}
header ul li a:before,
header ul li>div:before,
#mobileNav li a::before {
    content: url('../img/Rectangle 4191 (2).png');
    position: absolute;
    left: 0;
    right: -38px;
    bottom: -73px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all .4s;
    opacity: 0;
    z-index: -1;
}

header ul li:hover a:before,
header ul li:hover>div:before,
header ul li.active a:before,
header ul li.active>div:before {
    opacity: 100%;
}

header ul li:first-child a:before,
header ul li:nth-child(3) a:before {
    right: -48px;
}

#banner {
    background-image: url('../img/futurism-perspective-digital-nomads-lifestyle\ 1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 581px;
    margin-top: -109px;
    position: relative;
}

#banner::after {
    /* content: url('../img/Rectangle 4568.png'); */
    position: absolute;
    width: 100%;
    height: 581px;
    inset: 0;
}

#banner::before {
    content: '';
    position: absolute;
    background-color: #03181BBF;
    width: 100%;
    height: 581px;
    inset: 0;
}
#banner2 {
    background-image: url('../img/Mask group (2).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 581px;
    margin-top: -109px;
    position: relative;
}
#banner3 {
    background-image: url('../img/Mask\ group\ \(3\).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 581px;
    margin-top: -109px;
    position: relative;
}
#banner4 {
    background-image: url('../img/blogbanner.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 581px;
    margin-top: -109px;
    position: relative;
}
#banner5 {
    background-image: url('../img/OIP (11) 2.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
}
/* dropdown */
#dropdown a:hover {
    color: #1babc3;
}

#dropdown {
    margin-top: 115px !important;
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
}

#dropdown.active {
    margin-top: -36px !important;
    visibility: visible;
    opacity: 100%;
}

/* footer */
footer ul li,
footer .social a svg,
footer .social a svg path {
    transition: all .4s;
}

footer ul li:hover {
    color: yellow;
}

footer .social a:hover svg path {
    fill: yellow;
}

footer .social a:hover svg {
    transform: translateY(-7px);
}

footer ul li,#category ul li {
    position: relative;
}

footer ul li::before {
    content: url('../img/Ellipse\ 80.png');
    position: absolute;
    width: 10px;
    height: 10px;
    right: -5px;
}
#category ul li::before {
    content: url('../img/Group 9358.png');
    position: absolute;
    width: 10px;
    height: 10px;
    right: -5px;
}
#category ul li:hover{
    color: #1babc3;
}
.font-bold {
    font-family: "yekan-Bold";
}

a {
    cursor: pointer;
    text-decoration: none;
    transition: all .4s;
}

/* border-radius */
.rounded-10 {
    border-radius: 10px !important;
}

.rounded-12 {
    border-radius: 12px !important;
}
.rounded-15 {
    border-radius: 15px !important;
}
.rounded-18 {
    border-radius: 18px !important;
}

.rounded-20 {
    border-radius: 20px !important;
}

.rounded-25 {
    border-radius: 25px !important;
}

.rounded-30 {
    border-radius: 30px !important;
}
.rounded-42 {
    border-radius: 42px !important;
}
.rounded-tl-0 {
    border-bottom-right-radius: 10px !important;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
/* z index */
.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-99 {
    z-index: 99;
}

/* color */
.text-white2{
    color: #FFFFFF8F;
}
.text-main {
    color: #1BABC3;
}

.text-main2 {
    color: #0B5A67;
}

.text-main3 {
    color: #96DCE8;
}

.text-gradient1 {
    background: #1BABC3;
    background: linear-gradient(to right, #1BABC3 0%, #88E7F7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gray{
    color: #C3C1C1;
}
.text-gray2{
    color: #E2DEE6;
}
/* box shadow */
.shadow1 {
    box-shadow: 0px 0px 26.399999618530273px 0px #00000040;
}

.shadow2 {
    box-shadow: 0 3px 9px -6px #909090;
}

.shadow3 {
    box-shadow: -6px 9px 10px -13px #909090;
}

.shadow4 {
    box-shadow: 0px -5px 22px -17px #f1f1f1;
}
/* bottom */
.-bottom-6{
    bottom: -6px;
}
/* top */
.-top-8 {
    top: -8px;
}

.top-9 {
    top: 9px;
}

.top-13 {
    top: 13px;
}

.-top-15 {
    top: -15px;
}

.-top-28 {
    top: -28px;
}
.-top-37 {
    top: -37px;
}
.-top-45 {
    top: -45px;
}

.top-72 {
    top: 72px;
}
.top-74 {
    top: 74px;
}
.top-94 {
    top: 94px;
}
.-top-135 {
    top: -135px;
}
/* bottom */
.-bottom-1 {
    bottom: -1px;
}

/* right */
.-right-226 {
    right: -226px;
}

.right-81 {
    right: 81px;
}
.right-39 {
    right: 39px;
}
.right-21-8 {
    right: 20.8%;
}

.-right-17 {
    right: -17px;
}
.right-14 {
    right: 14px;
}
.right-8 {
    right: 8px;
}

.right-5 {
    right: 5px;
}

.-right-1 {
    right: -1px;
}

.right-0 {
    right: 0;
}

/* left */
.-left-356 {
    left: -356px;
}

.-left-32 {
    left: -32px;
}

.-left-14 {
    left: -14px;
}
.left-14 {
    left: 14px;
}
.left-0 {
    left: 0;
}

/* margin */
.-mr-6 {
    margin-right: -6px;
}

.-mt-102 {
    margin-top: -102px;
}

/* line clump */
.line-clump-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* cursor */
.cursor {
    cursor: pointer;
}

/* background */
.bg-white2{
    background-color: #FFFFFF8F;
}
.bg-main {
    background-color: #1BABC3;
}

.bg-main2 {
    background: #061620;
    background: linear-gradient(to bottom, #06162057 5%, #1B39596E 54%);
}

.bg-main3 {
    background-color: #2596A9;
}

.bg-main4 {
    background-color: #203642;
}

.bg-main5 {
    background: rgb(27, 171, 195);
    background: linear-gradient(127deg, rgba(28, 120, 136, 0.39) 0%, rgba(3, 55, 64, 0.21) 100%);
}

.bg-main6 {
    background: rgb(213, 229, 255);
    background: linear-gradient(74deg, rgba(213, 229, 255, 0.43) 0%, rgba(127, 208, 252, 0.08) 100%);
}
.bg-main7{
    background-color: #1d252f;
}
.bg-main8{
    background-color: #1BABC30F;
}
.bg-main9{
    background-color: #0C5879;
}
.bg-main10{
    background-color: #1BABC357;
}
.bg-main11{
    background: #1BABC342;
}
.bg-gray {
    background-color: #D9D9D9;
}

.bg-dark2 {
    background-color: #1f2731;
}
.bg-dark3{
    background-color: #0C202B;
}
.bg-gradient1 {
    background: linear-gradient(269.83deg, rgba(255, 255, 255, 0.085) 42.2%, rgba(44, 33, 56, 0.0459) 96.28%);
}

.bg-gradient2 {
    background: linear-gradient(179.34deg, rgba(127, 208, 252, 0) 0.53%, rgba(141, 216, 228, 0.09) 99.41%);
}

.bg-gradient3 {
    background: linear-gradient(90deg, #0C414B 0%, #1E1E1E 100%);
}

.bg-gradient4 {
    background: linear-gradient(134.85deg, #1BABC3 4.06%, #0C5A67 66.62%);
}

.bg-gradient5 {
    background-image: url('../img/Frame\ 9222.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-gradient6{
    background: linear-gradient(0deg, #88E7F71A 0%, #70ECFF00 100%);
}
.bg-gradient7{
    background: linear-gradient(159.92deg, rgba(136, 231, 247, 0) 26.31%, rgba(112, 236, 255, 0.1254) 117.98%);
}
.bg-gradient8{
    background: linear-gradient(179.34deg, rgba(127, 208, 252, 0) 0.53%, rgba(141, 216, 228, 0.27) 99.41%);
}
.bg-gradient9{
    background: linear-gradient(90deg, rgba(127, 208, 252, 0.0966) 0%, rgba(213, 229, 255, 0.21) 100%);
}
.bg-gradient10{
    background: linear-gradient(179.34deg, rgba(127, 208, 252, 0.0549) 0.53%, rgba(141, 216, 228, 0.0915) 99.41%);
}
.bg-gradient11{
    background: linear-gradient(144.24deg, #1BABC3 18.66%, #88E7F7 69.38%);
}
.bg-gradient11:hover {
    background: linear-gradient(144.24deg, #88E7F7 18.66%, #1BABC3 69.38%);
  }
.bg-blur {
    background-color: rgba(255, 255, 255, 0.52);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.bg-blur2{
    background: linear-gradient(90deg, rgba(127, 208, 252, 0.0598) 0%, rgba(213, 229, 255, 0.13) 100%);
}
/* font size */
.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-32 {
    font-size: 32px;
}

.fs-36 {
    font-size: 36px;
}

.fs-40 {
    font-size: 40px;
}

.fs-42 {
    font-size: 42px;
}

.fs-50 {
    font-size: 50px;
}

.fs-64 {
    font-size: 64px;
}

.fs-76 {
    font-size: 76px;
}

/* padding */
.p-16 {
    padding: 16px;
}
/* margin */
.-mr-116{
    margin-right: -116px;
}
/* max width */
.max-w-373 {
    max-width: 373px;
    width: 100%;
}

.max-w-602 {
    max-width: 602px;
    width: 100%;
}

.max-w-665 {
    max-width: 665px;
    width: 100%;
}

.max-w-982 {
    max-width: 982px;
    width: 100%;
}

/* border */
.border-main {
    border: 1px solid #008BF9;
}
.border-main2{
    border: 1px solid #A7D6EF26;
}

.border-secondary {
    border-color: #6c757d00 !important;
}

.border-gradient1 {
    background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 3px, transparent 3px) 0% 0%/8px 8px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 3px, transparent 3px) 100% 0%/8px 8px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 3px, transparent 3px) 0% 100%/8px 8px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 3px, transparent 3px) 100% 100%/8px 8px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 16px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 16px) calc(100% - 10px) no-repeat,
    linear-gradient(2deg, #1b3135 0%, rgba(137, 178, 199, 1) 100%);
    border-radius: 8px;
    padding: 9px;
    box-sizing: border-box;
}
.border-r-dashed {
    border-right: 2px dashed #BDF2FB;
}
.border-r-dashed2 {
    border-right: 2px dashed #1BABC3;
}
.border-r-solid {
    border-right: 2px solid #1BABC3;
}
.border-b-hover{
    border-bottom: 0px solid transparent;
    transition: all .4s;
}
.border-b-hover:hover{
    border-bottom: 8px solid #00C0E047;
}
.border-main-hover:hover{
    border: 1px solid #1BABC3;
}
.border-gradient2{
border: 1px solid;
border-image-source: linear-gradient(180deg, rgba(127, 208, 252, 0.276) 0%, rgba(213, 229, 255, 0) 59.48%);
}
.border-dashed{
    border: 1px dashed #FFFFFF61;
}
.border-b-dashed{
    border-bottom: 2px dashed #FFFFFF61;
}
/* width */
.w-1 {
    width: 1px;
}
.w-3 {
    width: 3px;
}
.w-9 {
    width: 9%;
}

.w-10 {
    width: 10px;
}

.w-30 {
    width: 30px;
}

.w-34 {
    width: 34px;
}
.w-40 {
    width: 40px;
}
.w-43 {
    width: 43%;
}
.w-48 {
    width: 48px;
}
.w-53 {
    width: 53px;
}
.w-56 {
    width: 56px;
}

.w-60 {
    width: 60px;
}

.w-70 {
    width: 70px;
}
.w-79 {
    width: 79%;
}
.w-84 {
    width: 84px;
}

.w-104 {
    width: 104px;
}

.w-110 {
    width: 110px;
}

.w-125 {
    width: 125px;
}

.w-128 {
    width: 128px;
}
.w-140 {
    width: 140px;
}
.w-147 {
    width: 147px;
}
.w-180 {
    width: 180px;
}
.w-186 {
    width: 186px;
}
.w-230 {
    width: 230px;
}

.w-290 {
    width: 290px;
}

.w-310 {
    width: 310px;
}

.w-467 {
    width: 467px;
}

/* height */
.h-9 {
    height: 9px;
}
.h-10 {
    height: 10px;
}
.h-18 {
    height: 18px;
}
.h-24 {
    height: 24px;
}
.h-34 {
    height: 34px;
}
.h-40 {
    height: 40px;
}
.h-48 {
    height: 48px;
}

.h-56 {
    height: 56px;
}

.h-60 {
    height: 60px;
}

.h-66 {
    height: 66%;
}

.h-70 {
    height: 70px;
}
.h-84 {
    height: 84px;
}

.h-85 {
    height: 85px;
}

.h-110 {
    height: 110px;
}
.h-140 {
    height: 140px;
}
.h-143 {
    height: 143px;
}
.h-237 {
    height: 237px;
}
.h-290 {
    height: 290px;
}
.h-327 {
    height: 327px;
}
/* transition */
.transition {
    transition: all .4s;
}

/* global styles */
.row {
    margin-left: 0;
    margin-right: 0;
}

.outline-none {
    outline: none;
}

.opacity-none {
    opacity: 0;
}

.visible-none {
    visibility: hidden;
}

.resize-none {
    resize: none;
}

.cursor-pointer {
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}

input[type="number"] {
    -moz-appearance: textfield;
}
select:focus-visible {
 outline: none;
}
/* accordion */
.accordionContent,
.accordionContent2 {
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
}

.accordionContent.active,
.accordionContent2.active {
    max-height: 2000px;
}

/* tabs */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    background-color: #1BABC3;
    border: transparent;
}

/* hover */
.hostCard:hover{
    background: linear-gradient(160.02deg, rgba(136, 231, 247, 0.13) 26.31%, rgba(112, 236, 255, 0.05) 75.07%);
}
.hoverMain:hover {
    color: #2596a9 !important;
}

.hover-1:hover {
    background: linear-gradient(160.51deg, rgba(136, 231, 247, 0) 26.13%, rgba(112, 236, 255, 0.44) 74.62%);
}

.hover-1>div:nth-child(3) {
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}

.hover-1:hover>div:nth-child(3) {
    max-height: 1000px;
}

.btnHover {
    transition: all .4s;
    overflow: hidden;
    position: relative;
}

.btnHover::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

.btnHover:hover::before {
    animation: shine 1.5s ease-out infinite;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.card {
    transform-style: preserve-3d;
}

.card img.img {
    transition: all .4s;
    pointer-events: none;
    z-index: 10 !important;
}

.card:hover img.img {
    transform: translate3d(-10%, -10%, 20px);
}

.card:hover .sneakers {
    transform: translateZ(40px);
    opacity: 0.85;
}
.hoverBox > img:nth-child(2){
    opacity:0;
    visibility: hidden;
    display: none !important;
}
.hoverBox:hover > img:nth-child(2){
    opacity:100%;
    visibility: visible;
    display:block !important;
}
.pageHover:hover{
    background-color: #1BABC3;
}
/* swiper */

.tabsSwiper .swiper-button-next::after,.tabsSwiper2 .swiper-button-next::after {
    content: url('../img/Vector.png');
  }
.tabsSwiper .swiper-button-prev::after, .tabsSwiper2 .swiper-button-prev::after {
    content: url('../img/Vector\ \(2\).png');
  }
@media only screen and (max-width:1400px) {
    .right-xl-25-3 {
        right: 24.3%;
    }
}

@media only screen and (max-width:1200px) {
    .w-xl-89 {
        width: 89%;
    }
}

@media only screen and (max-width:992px) {
    .fs-md-48 {
        font-size: 48px;
    }

    .fs-md-13 {
        font-size: 13px;
    }

    .fs-md-24 {
        font-size: 24px;
    }

    .fs-md-13 {
        font-size: 13px;
    }

    .w-md-90 {
        width: 90px;
    }
    .mr-md-0{
        margin-right:0;
    }
    .-mt-md-85{
        margin-top: -85px;
    }
}

@media only screen and (max-width:768px) {
    .fs-sm-36 {
        font-size: 36px;
    }

    .fs-sm-32 {
        font-size: 32px;
    }
    .fs-sm-20 {
        font-size: 20px;
    }
    .fs-sm-18 {
        font-size: 18px;
    }
    .fs-sm-16 {
        font-size: 16px;
    }

    .fs-sm-15 {
        font-size: 15px;
    }

    .fs-sm-14 {
        font-size: 14px;
    }

    .fs-sm-12 {
        font-size: 12px;
    }

    .fs-sm-10 {
        font-size: 10px;
    }

    .w-sm-100 {
        width: 100%;
    }
    .w-sm-84 {
        width: 84px;
    }
    .w-sm-56 {
        width: 56px;
    }

    .w-sm-24 {
        width: 24px;
    }
    .h-sm-84 {
        height: 84px;
    }
    .h-sm-70 {
        height: 70px;
    }
    .h-sm-61 {
        height: 61px;
    }
    .h-sm-56 {
        height: 56px;
    }

    .h-sm-51 {
        height: 51px;
    }

    .h-sm-24 {
        height: 24px;
    }

    .rounded-sm-100 {
        border-radius: 100px !important;
    }
    .rounded-sm-12 {
        border-radius: 12px !important;
    }
    .position-md-static{
        position: static !important;
    }
    #banner3,#banner2,#banner,
    #banner::before,#banner4 {
        height: 647px;
        position: relative;
    }
    #banner::before {
        content: none;
      }
      #banner{
        background-image: url('../img/Group\ 9327.png');
    }
      #banner2::after{
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          inset: 0;
          background-color: #010F1269;
      }
    #banner2{
        background-image: url('../img/server-cloud-data-storage-concept-cloudscape-digital-online-service-global-network-web-database-backup-computer-infrastructure 1.png');
    }
    #banner3::before {
        content: none;
      }
    #banner3{
        background-image: url('../img/Group\ 9327\ \(2\).png');
    }
    #banner4::before {
        content: '';
        position: absolute;
        background-color: #010F1269;
        width: 100%;
        height: 647px;
        inset: 0;
      }
    #banner4{
        background-image: url('../img/vecteezy_server-room-data-center-datacenter-hardware-cluster_33880804\ \(1\)\ 1.png');
    }
    #banner5{
        background-image: url('../img/OIP\ \(12\)\ 2.png');
    }
    .lh-sm-lg{
        line-height: 24px;
    }
}

@media only screen and (max-width:576px) {
    .fs-xs-26 {
        font-size: 26px;
    }
    .fs-xs-24 {
        font-size: 24px;
    }
    .fs-xs-20 {
        font-size: 20px;
    }
    .fs-xs-16 {
        font-size: 16px;
    }

    .fs-xs-14 {
        font-size: 14px;
    }

    .fs-xs-13 {
        font-size: 13px;
    }

    .fs-xs-11 {
        font-size: 11px;
    }

    .fs-xs-10 {
        font-size: 10px;
    }

    .fs-xs-9 {
        font-size: 9px;
    }
    .fs-xs-8 {
        font-size: 8px;
    }
    .w-xs-25 {
        width: 25px;
    }

    .w-xs-50 {
        width: 50px;
    }

    .w-xs-65 {
        width: 65px;
    }
    .w-xs-100 {
        width: 100%;
    }
    .lh-xs-18{
        line-height: 18px !important;
    }
    .rounded-xs-12 {
        border-radius: 12px !important;
    }
    .rounded-xs-15 {
        border-radius: 15px !important;
    }
    .p-xs-10{
        padding: 10px;
    }
    #mobileNav li a{
        font-size: 16px;
    }
}

@media only screen and (max-width:400px) {}